@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead">TAW RCON tool for Hell Let Loose</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Trigger Rcon Commands</h2>
        <p>
TAW Admin(s) will have access to RCON commands on this site, which will directly affect the game server. Reoccuring broadcasts can also be set from this to display a loop of multiple messages. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Manage ban lists</h2>
        <p>This Rcon tool allows TAW admin(s) to view and modify all 'temp' and 'perma' banned players on the server. </p>
    </div>
    <div class="col-md-4">
        <h2>Analytics</h2>
        <p>This tool allows TAW Admin(s) to veiw the game server's stats. To view the most frequent team killers, and to view the servers population at certain points of the day.</p>
    </div>
    <div class="col-md-4">
        <h2>Access</h2>
        <p>Every TAW admin will have an account created for them, you cannot create an account yourself. </p>
        <p><b>Discord:</b>  https://discord.gg/A9hYDYz </p>
    </div>
</div>